
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.container {
  width: 940px;
  .center-block();
}
.picture_container {
  text-align: center;
}
.movie_title {
	text-align: center;
}
.divider_row{
	height: 20px;
	border-top: 2px solid lightgray;
	margin-top: 2px;
}
.imdb_rating{
	color: grey;
}
