<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
<title>Netflix rating</title>
<link crossorigin='anonymous' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb' rel='stylesheet'>
<link href='style.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class='container'>
<div class='row'>
<div class='col-md'></div>
<div class='col-md-8'>
<h2 class='movie_title'>Касабланка</h2>
</div>
</div>
<div class='row'>
<div class='col-md picture_container'>
<img alt='images/swLYxE9yB5icF85Ee873r6SpFEP.jpg' class='rounded mx-auto d-block' src='images/swLYxE9yB5icF85Ee873r6SpFEP.jpg'>
</div>
<div class='col-md-8'>
<div class='row'>
<div class='col'>
<h6 class='collection_column_header_imdb'>IMDB:</h6>
<a class='imdb_rating' href='http://imdb.com/title/tt0034583/?ref_=chttp_tt_32'>8.6</a>
<h6 class='collection_budget'>Budget:</h6>
<div class='collection_budget'>$950,000</div>
</div>
<div class='col-6'>
<h6 class='collection_column_header_stars'>Stars:</h6>
<div class='collection_actors'>Humphrey Bogart,Ingrid Bergman,Paul Henreid</div>
</div>
<div class='col'>
<h6 class='collection_column_header_director'>Director:</h6>
<div class='collection_director'>Michael Curtiz</div>
</div>
</div>
</div>
</div>
<div class='divider_row row'></div>
</div>
</body>
</html>
